[Desktop Entry]
Encoding=UTF-8
Name=Enlace a game icons (heart, diamond, star and lightning bolt) by PiXeRaT
Type=Link
URL=https://pixerat.itch.io/game-icons-heart-diamond-star-and-lightning-bolt
Icon=text-html
